
<div class="timetable">
    <div class="week-names">
      <div>saturday</div>
      <div>sunday</div>
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div class = "weekend">friday</div>
    </div>
    <div class="time-interval">
      <div>1st Lecture</div>
      <div>2nd Lecture</div>
      <div>3rd Lecture</div>
      <div>4th Lecture</div>
      <div>5th Lecture</div>
    </div>
    <div class="content">
      <div>
        <div class="accent-orange-gradient" >
          <h2 style="text-align: center;"></h2>
        </div>
      </div>
      <div></div>
      <div></div>
      <div></div>
          <div>
        <div class="accent-green-gradient"></div>
      </div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-cyan-gradient"></div>
      </div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-pink-gradient"></div>
      </div>
      <div></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
    </div>
  </div>