
<div class="timetable">
    <div class="week-names">
      <div>saturday</div>
      <div>sunday</div>
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div class = "weekend">friday</div>
    </div>
    <div class="time-interval">
      <div>1st Lecture</div>
      <div>2nd Lecture</div>
      <div>3rd Lecture</div>
      <div>4th Lecture</div>
      <div>5th Lecture</div>
    </div>
    <div class="content">
        <div *ngFor = "let day of days; index as i"  [class] ="colors[i]">
            <h5 style="text-align: center;">
              {{timeTableValues[1][day][0]}}
              <div *ngIf = "timeTableValues[1][day][1] !== ''" >
                <hr>
                {{timeTableValues[1][day][1]}}
              </div>
            </h5>
        </div>
        <div *ngFor = "let day of days; index as i"  [class] ="colors[i]">
          <h5 style="text-align: center;">
            {{timeTableValues[2][day][0]}}
            <div *ngIf = "timeTableValues[2][day][1] !== ''" >
              <hr>
              {{timeTableValues[2][day][1]}}
            </div>
          </h5>
      </div>
      <div *ngFor = "let day of days; index as i"  [class] ="colors[i]">
        <h5 style="text-align: center;">
          {{timeTableValues[3][day][0]}}
          <div *ngIf = "timeTableValues[3][day][1] !== ''" >
            <hr>
            {{timeTableValues[3][day][1]}}
          </div>
        </h5>
    </div>
    <div *ngFor = "let day of days; index as i" [class] ="colors[i]" >
      <h5 style="text-align: center;">
        {{timeTableValues[4][day][0]}}
        <div *ngIf = "timeTableValues[4][day][1] !== ''" >
          <hr>
          {{timeTableValues[4][day][1]}}
        </div>
      </h5>
  </div>
  <div *ngFor = "let day of days; index as i"  [class] ="colors[i]" >
    <h5 style="text-align: center;">
      {{timeTableValues[5][day][0]}}
      <div *ngIf = "timeTableValues[5][day][1] !== ''" >
        <hr>
        {{timeTableValues[5][day][1]}}
      </div>
    </h5>
</div>

    </div>
  </div>
