<p>Click the names to see more data.</p>
<table>
	<thead>
	<tr class="table-headers">
    <th>Name</th>
    <th>Class</th>
    <th>1st Lecture:  <br>Math</th>
    <th>2nd Lecture:  <br> Physics</th>
    <th>3rd Lecture:  <br> Control</th>
    <th>4th Lecture:   <br>Mil. Subjects</th>
    <th>5th Lecture:   <br>Whatever</th>
	</tr>
	</thead>
	<tbody>
    <tr>
        <th class="mobile-header">Name</th>
            <td>
               {{StudentInfo.name}}
            </td>
        <th class="mobile-header">Class</th>
        <td>{{StudentInfo.year}} {{StudentInfo.class}}</td>
        <th class="mobile-header">Year</th>
        <td>
            <div name = "first-lecture" >
                <button class = "btn btn-default">ع</button>
                &nbsp;
                <button class = "btn btn-default">ز</button>
                &nbsp;
                <button class = "btn btn-default">ل</button>
                <br>
                <button class = "btn btn-default">أ</button>
                &nbsp;
                <button class = "btn btn-default">مكتب</button>
                &nbsp;
                <button class = "btn btn-default">ظ</button>
                <br>
                <button class = "btn btn-default">عرض</button>
            </div>
<!--            <div class="radio">
                <label><input type="radio" name="optradio">Option 1</label>
                <label><input type="radio" name="optradio">Option 2</label>
                <label><input type="radio" name="optradio">Option 3</label>
                <hr>
                <label><input type="radio" name="optradio">Option 4</label>
                <label><input type="radio" name="optradio">Option 5</label>
                <label><input type="radio" name="optradio">Option 6</label>
                <hr>
                <label><input type="radio" name="optradio">Option 7</label>
                <label><input type="radio" name="optradio">Option 8</label>
            </div>-->       
         </td>
        <td>
            <div name = "first-lecture" >
                <button class = "btn btn-default">ع</button>
                &nbsp;
                <button class = "btn btn-default">ز</button>
                &nbsp;
                <button class = "btn btn-default">ل</button>
                <br>
                <button class = "btn btn-default">أ</button>
                &nbsp;
                <button class = "btn btn-default">مكتب</button>
                &nbsp;
                <button class = "btn btn-default">ظ</button>
                <br>
                <button class = "btn btn-default">عرض</button>
            </div>

        </td>
        <td>
            <div name = "second-lecture" >
                <button class = "btn btn-default">ع</button>
                &nbsp;
                <button class = "btn btn-default">ز</button>
                &nbsp;
                <button class = "btn btn-default">ل</button>
                <br>
                <button class = "btn btn-default">أ</button>
                &nbsp;
                <button class = "btn btn-default">مكتب</button>
                &nbsp;
                <button class = "btn btn-default">ظ</button>
                <br>
                <button class = "btn btn-default">عرض</button>
            </div>

        </td>
        <td>
            <div name = "third-lecture" >
                <button class = "btn btn-default">ع</button>
                &nbsp;
                <button class = "btn btn-default">ز</button>
                &nbsp;
                <button class = "btn btn-default">ل</button>
                <br>
                <button class = "btn btn-default">أ</button>
                &nbsp;
                <button class = "btn btn-default">مكتب</button>
                &nbsp;
                <button class = "btn btn-default">ظ</button>
                <br>
                <button class = "btn btn-default">عرض</button>
            </div>

        </td>
        <td>
            <div name = "fourth-lecture" >
                <button class = "btn btn-default">ع</button>
                &nbsp;
                <button class = "btn btn-default">ز</button>
                &nbsp;
                <button class = "btn btn-default">ل</button>
                <br>
                <button class = "btn btn-default">أ</button>
                &nbsp;
                <button class = "btn btn-default">مكتب</button>
                &nbsp;
                <button class = "btn btn-default">ظ</button>
                <br>
                <button class = "btn btn-default">عرض</button>
            </div>

        </td>
    </tr>
	</tbody>
</table>