<!DOCTYPE html>

<div class="sidebar">
  <a routerLinkActive = "active" routerLink = "/attendance-entry">Attendance Entry</a>
  <a routerLinkActive = "active" routerLink = "/timetable-entry">Timetable For A Class</a>
  <a routerLinkActive = "active" routerLink = "/add-subject">Add Subject</a>
  <a routerLinkActive = "active" routerLink = "/percentages">Calculate Percentages</a>
  <a routerLinkActive = "active" routerLink = "/attendance-records">Attendance Records</a>
  <a routerLinkActive = "active" routerLink = "/students-services-entry">Students Services Entry</a>
  <a routerLinkActive = "active" routerLink = "/comparisons">Comparisons</a>
  <a routerLinkActive = "active" routerLink = "/Manage">Manage Students</a>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
