<div class="table-wrapper">
  <table class="fl-table">
      <thead>
      <tr>
          <th>#</th>
          <th>ٍStudent ID</th>
          <th>Student Name</th>
          <th>Class</th>
          <th>1st Lecture</th>
          <th>2nd Lecture</th>
          <th>3rd Lecture</th>
          <th>4th Lecture</th>
          <th>5th Lecture</th>
          <th>Available Tamams</th>
          <th># Of Absent Lectures</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td>
            <p>

            </p>
          </td>

          <td>
            <p>

            </p>
          </td>

          <td>
            <p >

            </p>
          </td>

          <td>
            <p >

            </p>
          </td>

          <td>
            <p>

            </p>
          </td>

          <td>
            <p >
            </p>
          </td>
          <td></td>
      </tr>
      <tbody>
  </table>
</div>
