<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>#</th>
            <th>ٍSubject Code</th>
            <th>Subject Name</th>
            <th>year</th>
            <th>Class Code</th>
            <th>Lecture hours</th>
            <th>Exercise hours</th>
            <th>Total Subject hours</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let subject of Subjects; index as i">
                <td>{{i + 1}}</td>
                <td>{{subject.subjectCode}}</td>
                <td>{{subject.subjectName}}</td>
                <td>{{subject.year}}</td>
                <td>{{subject.classCode}}</td>
                <td>{{subject.lectureHours}}</td>
                <td>{{subject.exerciseHours}}</td>
                <td>{{subject.totalHours}}</td>
                <td><button (click) = 'deleteSubject(i , subject.year , subject.classCode , subject.subjectCode)' class = "btn btn-danger">Delete</button></td>
            </tr>
        <tbody>
    </table>
</div>
