<div class="table-wrapper">
    <table class="fl-table">
        <thead *ngIf = "percentageRecords.length != 0">
        <tr>
            <th>#</th>
            <th>ٍStudent ID</th>
            <th>Student Name</th>
            <th>Class</th>
            <th>Subject Name (Code)</th>
            <th>Percentage of Absence</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let record of percentageRecords; index as i">
            <td>{{i + 1}}</td>
            <td>{{record.studentID}}</td>
            <td>{{record.studentName}}</td>
            <td>{{convertEnToAr(record.year)}} {{record.className}} {{convertEnToAr(record.classNo)}}</td>
            <td>{{record.subjectName}} ({{record.subjectCode}})</td>
            <td>{{record.percentage}}%</td>
        </tr>
        <tbody>
    </table>
</div>
