<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>#</th>
            <th>ٍStudent ID</th>
            <th>Student Name</th>
            <th>Class</th>
            <th>Subject Name (Code)</th>
            <th>Percentage of Absence</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>4774</td>
            <td>Mahmoud Kassem</td>
            <td>5th Communications</td>
            <td>Antenna (WTF403)</td>
            <td>100%</td>
        </tr>
        <tbody>
    </table>
</div>