<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr *ngIf="curTamamList.length > 0">
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>1st Lecture</th>
            <th>2nd Lecture</th>
            <th>3rd Lecture</th>
            <th>4th Lecture</th>
            <th>5th Lecture</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let Tamam of curTamamList; index as i">
            <td>{{i + 1}}</td>
            <td>{{Tamam.studentID}}</td>
            <td>{{Tamam.studentName}}</td>
            <td>{{convertEnToAr(Tamam.year)}} {{Tamam.className}} {{convertEnToAr(Tamam.classNo)}}</td>
            <td>{{Tamam.firstLectureTamam}}</td>
            <td>{{Tamam.secondLectureTamam}}</td>
            <td>{{Tamam.thirdLectureTamam}}</td>
            <td>{{Tamam.fourthLectureTamam}}</td>
            <td>{{Tamam.fifthLectureTamam}}</td>
            <td><button (click) = "deleteTamam(i)" [value] = "i" class = "btn btn-danger">Delete</button></td>
        </tr>
        <tbody>
    </table>
</div>
